* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* UTILITIES */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-start{
    justify-content: flex-start;
}


.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-btween{
    justify-content: space-between;
}

/* LAYOUT */

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
}

.main-content{
    padding: 20px 0;
}

.col-3{
    width: calc(3*100%/12);
    padding: 5px;
}

.col-4{
    width: calc(4*100%/12);
    padding: 5px;
}

.col-12{
    width: 100%;
}

/* HEADER */

.main-header{
    background-color: #FF6800;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0,0,0.1);
}

.main-header .container .row{
    display: flex;
    justify-content: space-between;
}

.main-header .logo{
    width: 100px;
}

.main-header li[class^=main-menu]{
    padding: 5px;
    font-weight: 500;
}

.main-menu-items{
    font-size: 14px;
}

.main-menu-items:hover{
    color: black;
}

/* CARDS */

.card__header{
    position: relative;
}

.card__header img{
    display: block;
}

.brand-name{
    font-size: 12px;
}

.wishlist-btn{
    width: 30px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    background-color: white;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 100;
}

.wishlist-btn:hover{
    color: red;
    cursor: pointer;
}

.badges{
    position: absolute;
    bottom: 25px;
}

span[class^=badge]{
    color: white;
    padding: 3px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    z-index: 100;
}

.badge__red{
    background-color: red;
    width: 50px;
}

.badge__green{
    background-color: green;
    width: 80px;
}

.price-tag{
    color: red;
    font-weight: 700;
}

.price-tag-line-through{
    text-decoration: line-through;
}

/* OVERLAY */

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.card__header:hover .overlay{
    opacity: 1;
    transition: 500ms ease-in-out;
}

.card__header:hover .badges{
    z-index: 100;
}

/* FOOTER */

.main-footer{
    background-color: #1A1A1A;
    color: white;
    padding: 20px;
}

.main-footer-title ul, 
.main-footer-social ul{
    gap: 10px;
}

.main-footer-title li,
.main-footer-social li{
    padding-top: 5px;
}
