* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* LAYOUT */

.container{
    width: 80%;
    margin: 0 auto;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(4*100%/12);
    padding: 5px;
}

/* CARDS */

.card__header{
    position: relative;
}

.wishlist-btn{
    width: 16px;
    text-align: center;
    background-color: white;
    position: absolute;
    right: 0;
    top: 5px;
}

.price-tag{
    color: red;
    font-weight: 700;
}

.price-tag-discount{
    color: white;
    background-color: red;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 25px;
}